.help_doc {
  min-height: 100vh;
  background-size: contain;
  padding-top: 72px;
  padding-bottom: 80px;
}

.bgImg {
  position: fixed;
  top: 72px;
  background-image: url('../../assets/images/bg.png');
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.help {
  margin-top: 18px;
  padding: 24px 32px;
  background: #fff;
}

.help_content {
  width: 980px;
  margin: 72px auto 0;
  padding-top: 0;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.help_doc .content .title {
  padding-left: 110px;
  margin-bottom: 0;
  padding-top: 32px;
  padding-left: 140px;
}

.help ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.help ul li {
  text-align: left;
  border: 1px solid #0095fc;
  border-radius: 4px;
  margin-right: 20px;
  padding: 0 8px;
  cursor: pointer;
  min-width: 30%;
  margin-bottom: 12px;
}

.help a {
  color: #0095fc;
}

dl {
  margin-top: 36px;
}

dt {
  font-size: 16px;
  font-weight: bold;
  color: #0095fc;
  line-height: 30px;
}

dt::before {
  display: block;
  height: 72px;
  margin-top: -72px;
  visibility: hidden;
  content: ' ';
  pointer-events: none;
}

dd {
  font-size: 14px;
}

dl dd img {
  width: 570px;
}

.help_footer {
  margin: 30px 40px 0;
  padding: 10px 0;
}

.help_footer p {
  text-align: center;
  color: #787878;
  line-height: 22px;
}
