.footer {
  background-color: #0d1c2b;
  color: #ccc;
  height: 410px;
  display: flex;
  position: relative;
  z-index: 1030;
}

.leftImgWrapper {
  height: 100%;
}

.rightImgWrapper {
  height: 100%;
}

.leftImgWrapper .img, .rightImgWrapper .img {
  height: 100%;
}

.main {
  margin: 0 auto;
  display: flex;
  width: 1010px;
  height: 100%;
  padding: 20px 0;
}

.content {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.content .linkWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.content .linkWrapper .title {
  margin-right: 16px;
}

.content .linkWrapper .link {
  margin-right: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

.content .linkWrapper .link a {
  text-decoration: none;
  
}
.content .linkWrapper .link a:hover {
  color: #f4a533;
}

.content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 520px;
}

.content .text .warn {
  background-color: yellow;
  color: red;
  margin-bottom: 24px;
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 12px auto;
}

.content .text .info {
  margin-bottom: 16px;
  text-align: center;
  flex: 1;
}

.content .text .tip {
  font-size: 12px;
  text-align: center;
  height: 90px;
}
.content .text .tip .img {
  width: 100%;
  height: 100%;
}

.content .importWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .importWrapper .license {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.content .importWrapper .copyright {
  display: flex;
  align-items: center;
  font-size: 12px;
  
}

.content .importWrapper .licenseImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.qrcodeWrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.qrcodeWrapper .awardWrapper {
  height: 90px;

}

.qrcodeWrapper .awardWrapper .img {
  width: 100%;
  height: 100%;
}

.qrcodeWrapper .imgWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.qrcodeWrapper .qrcode {
  width: 100%;
  height: 100%;
  flex: 1;
}

.qrcodeWrapper .qrcode img {
  width: 100%;
  height: 100%;
}
