.footer {
  background-color: #000;
  background-image: url('/images/footer.png');
  background-position-y: center;
  background-size: cover;
  color: #ccc;
  padding: 40px 0;
  height: 410px;
  position: relative;
  z-index: 1030;
}

.main {
  margin: 0 auto;
  display: flex;
  width: 1010px;
  height: 100%;
}

.content {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.content .linkWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.content .linkWrapper .title {
  margin-right: 16px;
}

.content .linkWrapper .link {
  margin-right: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

.content .linkWrapper .link a {
  text-decoration: none;
}

.content .text {
  flex: 1;
  display: flex;
  flex-direction: column; 
  padding-bottom: 12px;
  width: 520px;
}

.content .text .warn {
  background-color: yellow;
  color: red;
  margin-bottom: 24px;
}

.content .text .info {
  margin-bottom: 16px;
  flex: 1;
}

.content .text .tip {
  font-size: 12px;
  text-align: center;
}

.content .importWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .importWrapper .license {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.content .importWrapper .copyright {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.content .importWrapper .licenseImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.qrcodeWrapper {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

.qrcodeWrapper .qrcode {
  width: 140px;
  height: 100%;
}

.qrcodeWrapper .qrcode img {
  width: 140px;
  height: 250px;
}
